# REM: if you are looking for passwords or other variables
# that vary from dev to stage to prod, check the other subfolders

# setup vars
project:        "findit-ansible"
version:        "0.1.0"
login_user:     "deploy"

# ssh vars
ssh_port: 22
# uncomment after first run (if not 22):
# ansible_ssh_port: "{{ ssh_port }}"

ssh_pub_keys:
 - ~/.ssh/findit-ansible/findit-ansible_dev.pub
